* {
  box-sizing: border-box;
  text-align: center;
}

style {
  font-family: 'Caprasimo', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;

}

.main-content {
  display: inline-block;
  width: 800px;
}

img {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}
.bold-700{
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
p {
  font-family: 'Roboto Mono';
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 225px;
  height: 36px;
  margin: 0px;
}
.container {
  width: 225px;
  height: 250px;
  margin: 0 auto;
  background-color: blueviolet;
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}
